extends ../layout

block content
  h1.
    Attractions
  ul
    - each o in attractions
      li
        = o.title
        = o.description
        form(action='/attractions/#{o._id}',method='post',enctype='application/x-www-form-urlencoded')
          input(type='hidden',value='DELETE',name='_method')
          button(type='submit').
            Delete
        p 
          a(href='/attractions/#{o._id}/edit') Edit
        p
          a(href='/attractions/#{o._id}') Show