extends ../layout
link(rel='stylesheet', href='css/submenu.css')

block content
  p
    if (subPageName)
      p
        a.btn.btn-default(href='/attractions/') Show All Attractions
    if (currentUser)
      p
        a.btn.btn-primary.btn-lg(href='/attractions/new') Add New Post
    if (!currentUser)
      p
        a(href='/login') Login or signup
        span &nbsp;to add your own attraction.
  h1= subPageName || pageName
  h2= JSON.stringify(conditions)

  .row
    .col-sm-4.col-md-3.sidebar
      .mini-submenu
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .list-group
        form(action='/attractions' method='GET')
          .form-group
            span.list-group-item.active Submenu
              span.pull-right#slide-submenu
                i.fa.fa-times
            a.list-group-item(href="#") Type &nbsp;
              select(name="type") 
                option(value="")
                option(value="Business") Business 
                option(value="Food") Food 
                option(value="Event") Event
            a.list-group-item(href="#") Category
              select(name="category") 
                option(value="" name="category")
                option(value="Clothing" name="category") Clothing 
                option(value="Electronics" name="category") Electronics 
                option(value="Truck") Truck
                option(value="Restaurant") Restaurant
                option(value="Yard Sale") Yard Sale
                option(value="Performance") Performance
            a.list-group-item(href="#") Region &nbsp;
              select(name="city") 
                option(value="")
                option(value="Clothing") Clothing 
                option(value="Electronics") Electronics 
                option(value="Truck") Truck
                option(value="Restaurant") Restaurant
                option(value="Yard Sale") Yard Sale
                option(value="Performance") Performance 
            a.list-group-item(href="#") Lowest Price
              input(type="text", name="dollar_low", placeholder="5")
            a.list-group-item(href="#") Highest Price
              input(type="text", name="dollar_high", placeholder="20")  
            a.list-group-item(href="#")
              button.btn.btn-default(type="submit") Filter Attractions

  if (searchText)
    p
      i Showing only results matching search term "#{searchText}"
  include _attractions