extends ../layout

block content
  div.well
    h1 New Attraction
    form(action='/attractions',method="post",enctype="multipart/form-data")
      include _form
    a.btn.btn-lg.btn-default(href="/attractions")!= "Back to Attraction Feed"