extends ../layout

block content
  h1 About Feedr
  .row
    .col-xs-5
      panel
        p Like a lamp post, Feedr is meant to provide the hard-to-find information and updates that you need for local attractions just in time.
        p Whether you're having trouble finding your favorite food truck, bored and looking for something new, or are playing on your phone and reading this while waiting for the bus, we'll find something exciting for you to do today.
        p Or, post updates for your own business! It's quick and easy, with no maintenance or frills to worry about.
    .col-xs-6.col-xs-offset-1
      img(src="img/lamppost.jpg",width='400px',height='400px')
