extends ../layout

block content
  .jumbotron(style="background-image: url('img/background.jpg');")
    .well
      h1 Feedr
      br
      p The newsfeed for local shopping and entertainment
      
  .row
    .col-sm-4
      .thumbnail
        a(href="/attractions?type=Food")
          img(src="img/food.jpg",alt="Food")
        .caption
          a(href="/attractions?type=Food")
            h2 Dining &raquo;
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    .col-sm-4
      .thumbnail
        a(href="/attractions?type=Business")
          img(src="img/business.jpg",alt="Business")
        .caption
          a(href="/attractions?type=Business")
            h2 Retail &raquo;
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    .col-sm-4
      .thumbnail
        a(href="/attractions?type=Event")
          img(src="img/event.jpg",alt="Event")
        .caption
          a(href="/attractions?type=Event")
            h2 Events &raquo;
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>