extends ../layout

block content
  .jumbotron
    h1 Feedr
    br
    p Welcome to Feedr
      
  .row
    .col-sm-4
      .thumbnail
        h2 Food
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        p
          a.btn(href="#") View details &raquo;
    .col-sm-4
      .thumbnail
        h2 Business
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        p
          a.btn(href="#") View details &raquo;
    .col-sm-4
      .thumbnail
        h2 Event
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        p
          a.btn(href="#") View details &raquo;