extends ../layout

block content
  div.jumbotron
    .row
      .col-xs-3    
        h1 Login
        p Already registered? Login.
      .col-xs-8.col-xs-offset-1
        form(role='form', action="/login",method="post")
          .form-group
            span Username :
            input.form-control(type='text', name="username", placeholder='janedoeuser')
          .form-group
            span Password :
            input.form-control(type='password', name="password")
          button.btn.btn-lg.btn-primary(type='submit') Login

  br

  div.jumbotron
    form(action='/register',method="post")
      .row
        .col-xs-3
          h1 Sign up
          p Not yet registered? Signing up is easy and free.
        .col-xs-8.col-xs-offset-1
          include ../users/_form
          .form-group
            button.btn.btn-lg.btn-primary(type='submit') Register account
