.form-group
  label.alert-danger Username :
  input.form-control(required='', type="text", name="username", value=user.username, placeholder="janedoeuser")
.form-group
  label.alert-danger Password :
  input.form-control(required='', type='password', name="password")
.form-group
  label Email :
  input.form-control(type="text", name="email", value= user.email, placeholder="janedoeuser@gmail.com")
.form-group
  label.alert-danger ZIP :
  input.form-control(required='', type="text", name="zip", value=user.zip, placeholder="15213")
.form-group
  label.alert-danger First Name :
  input.form-control(required='', type="text", name="firstname", value= user.firstname, placeholder="Jane")
.form-group
  label.alert-danger Last Name :
  input.form-control(required='', type="text", name="lastname", value=user.lastname, placeholder="Doe")