extends ../layout

block content
  h1.
    Edit Account
  form(action='/users/#{user._id}',method='post',enctype='application/x-www-form-urlencoded')
    include _form
    button.btn.btn-primary(type='submit') Update