extends ../layout

block content
	h1.
		User ID #{user._id}
	form(action='/users/#{user._id}',method='post',name='updateuser',enctype='application/x-www-form-urlencoded')
		p First Name:
			input#inputName(type='text', value='#{user.firstname}', name='firstname')
		p Last Name:
			input#inputBadge(type='text', value='#{user.lastname}', name='lastname')
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update